{% extends 'base.html' %}
{% block title %} - {{title}}{% endblock %}
{% block title_section %}{{title}}{% endblock %}
{% block content %} 
<!-- content begins-->
<table class="table table-striped table-hover ">
  <thead>
    <tr class="danger">
      <th>ID</th>
      <th>Fecha</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for l in logs %}
    <tr>
      <td>{{l.id}}</td>
      <td>{{l.fecha}}</td>
      <td>{{l.descripcion}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endblock %}