{% extends 'base.html' %}
{% block title %} - {{title}}{% endblock %}
{% block title_section %}{{title}}{% endblock %}
{% block content %} 
<form class="modal-content" action="{% url 'update_purchase' purchase.id %}" method="POST">
    {% csrf_token %}
      <div class="modal-header">
        <h4 class="modal-title" id="createModalLabel">Update Purchase</h4>
      </div>
      <div class="modal-body">
      <div class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Product</label>
      <div class="col-lg-10">
        <select class="form-control" id="select_producto" name="product">
                        <option disabled>Select a product</option>
                        {% for p in products %}
                        {% if purchase.id_producto.pk == p.id %}
                          <option value="{{p.id}}" selected>{{p.producto}}</option>
                        {% else %}
                          <option value="{{p.id}}">{{p.producto}}</option>
                        {% endif %}
                        {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Client</label>
      <div class="col-lg-10">
        <select class="form-control" id="select_client" name="client">
                        <option selected disabled>Select a client</option>
                        {% for c in clients %}
                        {% if purchase.id_cliente.pk == c.id %}
                        <option value="{{c.id}}" selected>{{c.nombres}}</option>
                        {% else %}
                        <option value="{{c.id}}">{{c.nombres}}</option>
                        {% endif %}
                        {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Location</label>
      <div class="col-lg-10">
        <select class="form-control" id="select_location" name="location">
                        <option selected disabled>Select a location</option>
                        {% for l in locations %}
                        {% if purchase.id_sede.pk == l.id %}
                        <option value="{{l.id}}" selected>{{l.sede}}</option>
                        {% else %}
                        <option value="{{l.id}}">{{l.sede}}</option>
                        {% endif %}
                        {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Price</label>
      <div class="col-lg-10">
        <input type="text" name="price" class="form-control" id="inputPrice" placeholder="Price in COP...." value="{{purchase.precio}}">
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea class="form-control" name="description" rows="3" id="description" placeholder="Purchase Description">{{purchase.descripcion}}</textarea>
      </div>
    </div>
  </fieldset>
</div>
      </div>
      <div class="modal-footer">
        <a href="{% url 'purchases_crud' %}" role="button" class="btn btn-default">Back to List</a>
        <button type="submit" class="btn btn-primary">Save Product</button>
      </div>
    </form>
{% endblock %}