<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Bitgray Store {%block title %}{%endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {%block assets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/superhero/bootstrap.min.css">
    <style type="text/css">
    .table{
      font-size: 14px;
    }
    </style>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {%endblock assets %}
  </head>
  <body>
    <div class="container">
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1><i class="fa fa-shopping-basket text-warning"></i> Bitgray Store</h1>
            <p class="lead">By David Camargo</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            {%block nav%}
            <div class="list-group table-of-contents">
              <div class="list-group-item list-group-item-info">
                <i class="fa fa-asterisk"> </i> CRUD
              </div>
              <a class="list-group-item" href="{% url 'products_crud' %}"> Products </a>
              <a class="list-group-item" href="{% url 'purchases_crud' %}"> Purchases </a>
              <a class="list-group-item" href="{% url 'clients_crud' %}"> Clients </a>
              <a class="list-group-item" href="{% url 'locations_crud' %}">Locations </a>
              <a class="list-group-item" href="{% url 'log_crud' %}">Log</a>
              <div class="list-group-item list-group-item-info">
                <i class="fa fa-cart-arrow-down"> </i> Shopping Interfaces
              </div>
              <a class="list-group-item" href="{% url 'query_bills' %}">Query Bills (Punto 5)</a>
              <a class="list-group-item" href="{% url 'purchase_interface' %}"> Purchase Interface (Punto 4)</a>
              <div class="list-group-item list-group-item-info">
                <i class="fa fa-cloud-download"> </i> API
              </div>
              <a class="list-group-item" href="{% url 'api_home' %}">Instructions</a>
              <div class="list-group-item list-group-item-info">
                <i class="fa fa-asterisk"> </i> Others
              </div>
              <a class="list-group-item" href="http://github.com/davidcp90/django-btg" target="_blank"><i class="fa fa-github"> </i> Git Repository (Punto 1)</a>
              <a class="list-group-item" href="{% url 'tech_suggestions' %}">Tech Suggestions(7,8,9)</a>
            </div>
            {%endblock nav%}
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8">
            <h2>{%block title_section %}{%endblock title_section %}</h2>
            <hr/>
            {% if errors %}
              <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> {{errors}}
              </div>
            {% endif %}
            {% if success %}
              <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Good Job!</strong> {{success}}
              </div>
            {% endif %}
            {%block content%}
            {%endblock content%}
          </div>
        </div>
      </div>
      {% block javascript %}
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        {% if new_url %}
                      <script type="text/javascript">
$(function() {
          window.history.pushState({}, null, "{{new_url}}");
});
    </script>
        {% endif %}
      {% endblock javascript %}
    </body>
  </html>