{% extends 'base.html' %}
{% block title %} - {{title}}{% endblock %}
{% block title_section %}{{title}}{% endblock %}
{% block content %} 
<h3 class="text-success"><i><strong>Bajo la estructura de negocio actual, ¿Que propondría usted para realizar una numeración en la facturación, sin afectar o crear nuevos campos?</strong></i></h3>
<p>Para numerar las facturas sugiero una numeracion que empiece con los caracteres 'FP'(first purchase) fecha de la primera compra realizada,seguida por los caracteres 'CL' y el id del cliente , terminando con los caracteres 'LP'(last purchase) y la fecha de su ultima compra, un ejemplo seria:
<br/>
<code>FP041215CL2LP091215</code>
<br/>
Donde FP041215 corresponde a la primera compra que fue realizada el 4 de diciembre de 2015, CL2 al cliente con id 2que compro por ultima vez el 9 de diciembre de 2015.
</p>
<h3 class="text-info"><i><strong>Plantear herramientas y tecnologías necesarias para su publicación, seguridad y
mantenimiento de esta aplicación, bajo el supuesto de una concurrencia diaria de 500.000 a 1.000.000 usuarios.</strong></i></h3>
<p>
Para realizar estos procesos sugeriria lo siguiente:
<ul>
	<li>Establecer los roles que cada desarrollador tendria en el repositorio y mantener el repositiorio privado en github</li>
	<li>Usar Travis CI para probar el software,realizar las integraciones de los diferentes 'builds',trackear errores y hacer el despliegue de la aplicación en los diferentes servidores.</li>
	<li>Usar contenedores docker para hacer un despliegue de la aplicación cada vez que se necesite poner esta en una instancia nueva</li>
	<li>Llevar un reporte de bugs y tener su trazabilidad con una herramienta como JIRA que permita supervisar el estado de cada bug y si se le ha dado resolución o no.</li>
	<li>Establecer un sistema de permisos para la aplicación que permita limitar las acciones por usuario</li>
	<li>Abstraer la base de datos en una instancia centralizada de  Amazon RDS y desplegar la aplicacion en varias instancias de Amazon EC2</li>
	<li>Habilitar las funciones especificas de Django para tratar con datos SSL y conexiones HTTPS, las cuales incluyen redireccionamiento HTTP a HTTPS,  cookies seguras que solo viajan por conexiones HTTPS y HSTS para asegurar que todo viaje por HTTPS</li>
	<li>Habilitar acceso por token en el API</li>
	<li>Validar las cabeceras de los hosts que se quieren conectar a la aplicación</li>
</ul>
</p>
<h3 class="text-warning">Crear un plan de escabilidad al momento de tener un alto volumen de datos, escrituras y lecturas en disco.</h3>
<p>
Propondria un plan de escalabilidad horizontal que atacara lo siguiente:
<ol>
	<li><strong>Cache:</strong> Resuelve el problema de estar continuamente calculando valores que son frecuentemente utilizados y usan los recursos de maquina, esta tecnica guarda esos valores para mostrarlos rapidamente cuando se requieren. Para lograrlo es posible crear una instancia especifica que use un backend como <i>memcache o varnish</i> para servir estos valores recurrentes y asi evitar lecturas innecesarias en la instacia de base de datos.</li>
	<li><strong>Balanceo de carga: </strong>Usar una instancia de balanceo de carga para redirigir el trafico entre las diferentes instancias de aplicación y asi no sobrecargar ninguna de ellas. Para ello si se tuviera la infraestructura en AWS se podria usar la instancia de balanceo de amazon y sino se podria utilizar algo como perlbal proxying.</li>
	<li><strong>Queing: </strong>Manejar las colas de trabajo que llegan a la aplicación con un broker como RabbitMQ que permite procesar de manera asincrona las operaciones.</li>
	<li><strong>Replicación:</strong>Usar un esquema de replicación en el que la base de datos principal tenga varias bases de datos esclavas para solo lectura y asi liberar la instancia principal de los procedimientos de lectura.</li>
</ol>
</p>
{% endblock %}