{% extends 'main.html' %}
{% block title %} - {{title}}{% endblock %}
{% block content %}
	<h3 class="fj"><i class="text-danger fa fa-home"></i> <span class="text-primary">{{title_section}}</span></h3>
	<hr/>
	<p>To access the API you need to use the following credentials: </p>
	<div class="well">
		<p><strong>User: </strong> my_user</p>
		<p><strong>Password: </strong> my_password</p>
	</div>
	<p>You could test it via the following commands using curl. The API have different URL's depending on the format (JSON, XML)</p>
	<br/>
	<hr/>
	<h4>Articles</h4>
	<h5 class="text-success">JSON</h5>
	<code>curl -H 'Accept: application/json; indent=4' -u my_user:my_password http://198.211.108.179/services/articles/</code>
	<h5 class="text-success">XML</h5>
	<code>curl -H 'Accept: application/json; indent=4' -u my_user:my_password http://198.211.108.179/services_xml/articles/</code>
	<hr/>
	<h4>Stores</h4>
	<h5 class="text-success">JSON</h5>
	<code>curl -H 'Accept: application/json; indent=4' -u my_user:my_password http://198.211.108.179/services/stores/</code>
	<h5 class="text-success">XML</h5>
	<code>curl -H 'Accept: application/json; indent=4' -u my_user:my_password http://198.211.108.179/services_xml/stores/</code>
	<hr/>
	<h4>Get Articles by Store</h4>
	<p class="text-warning">In this case you need to replace ':id' with a positive integer.</p>
	<h5 class="text-success">JSON</h5>
	<code>curl -H 'Accept: application/json; indent=4' -u my_user:my_password http://198.211.108.179/services/articles/stores/:id</code>
	<h5 class="text-success">XML</h5>
	<code>curl -H 'Accept: application/json; indent=4' -u my_user:my_password http://198.211.108.179/services_xml/articles/stores/:id</code>
{% endblock %}