{% extends 'main.html' %}
{% load add_css %}
{% block title %} - {{title}}{% endblock %}
{% block content %}
	<h3 class="fj"><i class="text-danger fa fa-cubes"></i> <span class="text-primary">{{title_section}}</span></h3>
	<hr/>

	{% if success %}
	<div class="alert alert-success alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Good</strong> Store added to database.
	</div>
	{% endif %}
	{% if invalid %}
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<strong>Uppss</strong> You made a mistake. Please review the data in fields.
	</div>
	{% endif %}
	<form action="{% url 'add_super_stores' %}" method="POST">
		{% csrf_token %}
		<form class="form-horizontal" method="post">{% csrf_token %}
			<fieldset>
				{% for field in form %}
					<div class="form-group">
						<label class="control-label col-sm-4"><strong>{{ field.label }}</strong></label>
						<div class="col-sm-8">
							{{ field | addcss:"form-control"}}
							{% if field.errors %}
								<p class="text-warning"><i class="fa fa-danger"></i> {% for error in  field.errors %}{{ error }}{% endfor %}</p>
							{% endif %}
						</div>
					</div>
				{% endfor %}
			</fieldset>
			<br>
			<div class="form-group text-center">
				<a href="{% url 'super_stores' %}" class="btn btn-warning btn-lg" ><i class="fa fa-hand-o-left"> </i> Back</a>
				{% if not success %}
				<button type="submit" class="btn btn-primary btn-lg" ><i class="fa fa-save"> </i> Save Store</button>
				{% endif %}
			</div>
		</form>
	{% endblock content %}