{% extends 'main.html' %}
{% load add_css %}
{% block title %} - {{title}}{% endblock %}
{% block content %}
	<h3 class="fj"><i class="fa fa-shopping-bag text-danger"> </i> <span class="text-primary">{{title_section}}</span></h3>
	<hr/>
<a href="{% url 'add_super_stores' %}" class="btn btn-success btn-lg"><i class="fa fa-plus"> </i> Add Store</a>
<br/><br/>
<table class="table table-striped table-hover ">
  <thead>
    <tr class="danger">
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {% for s in stores %}
    <tr>
      <td>{{s.id}}</td>
      <td>{{s.name}}</td>
      <td>{{s.address}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table> 
{% endblock content %}