{% extends 'main.html' %}
{% block title %} - {{title}}{% endblock %}
{% block content %}
	<h3 class="fj"><i class="text-danger fa fa-home"></i> <span class="text-primary">{{title_section}}</span></h3>
	<hr/>
	<p>Hi, this is the admin page for <span class="text-primary fj">Super</span><span class="text-danger pc">Shoes.</span> Here you can find all the features that you need to manage the store. <br/> To begin , just click in one of the items at the left of this text (or up if you are using a small device).</p>
	<p>This exercise was made by David Camargo to <strong>Bitgray</strong> and <strong>Growth Acceleration Partners</strong>.</p>
{% endblock content %}